[Unit]
Description=Antiflood guard
After=network.target

[Service]
User=antiflood
Group=antiflood
Type=simple
WorkingDirectory=/home/antiflood/antiflood-guard-bot
ExecStart=/home/antiflood/antiflood-guard-bot/env/bin/python3.11 bot.py
Restart=always

[Install]
WantedBy=multi-user.target
